%b{style: "color:green"}= flash[:notice]
= simple_format @quote.content, class: 'cursive'
%h3
  %em From:
  = @quote.author
%br
%br
= form_for Favorite.new do |f|
  %a.btn.btn-default.btn-lg{href: "/quotes?id=#{@quote.prev.id}"} Previous
  = f.hidden_field :quote_id, value: @quote.id
  = f.submit 'Favorite', class: "btn btn-default btn-lg", method: 'POST'
  %a.btn.btn-default.btn-lg{href: "/quotes?id=#{@quote.next.id}"} Next
